.flexContainer {
    display: flex;
    height: calc(100vh - 60px);
}

.flexDiv1{
    width: 500px;
    border-right: 1px solid rgba(196, 194, 231, 0.3);
    color: var(--white);
    background-color: var(--darkPrimary1);
}

.flexDiv2 {
    width: 100%;
}

.textArea {
    margin: 10px 5% 10px 5%;
    padding: 10px;
    width: 85%;
    border-color: var(--offwhite);
    background-color: inherit;
    resize: none;
    color: var(--offwhite);
    overflow-y: scroll;
}

.textArea::placeholder {
    color: #616161;
}

.submitButton {
    width: 90%;
    height: 35px;
    background-color: var(--secondary);
    color: var(--darkPrimary1);
    border: 0;
}

.submitButton:hover {
    cursor: pointer;
    background-color: var(--secondaryHover);
}