.sampleQuestionButton {
    background-color: inherit;
    color: var(--offwhite);
    border: 2px var(--offwhite) solid;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;

}

.sampleQuestionButton:hover {
    background-color: var(--offwhite);
    color: var(--primary);
    cursor: pointer;
}

.sampleQuestionButtonContainer {
    width: 90%;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-left: 5%;
    margin-right: 5%;
}