.sampleCodeContainer {
    background-color: var(--primary);
    overflow: auto;
    flex:1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sampleCodes {
    display: flex;
    width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}

.sampleCodeItemContainer {
    height: 200px;
    min-height: 0;
    min-width: 300px;
    flex: 1 0;
    border: 3px solid transparent;
}

.selectedSample {
    border: 3px solid var(--secondary);
}

.noPointerEvent {
    pointer-events: none;
}

.select {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.select:hover {
    background-color: var(--secondaryHover);
}

.cancel {
    background-color: var(--primary);
    color: var(--offwhite);
    border: 1px solid var(--offwhite);
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.cancel:hover {
    background-color: var(--offwhite);
    color: var(--primary);
}

.buttonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;

}
