.sampleCodeContainer {
    background-color: var(--primary);
    overflow: auto;
    flex:1;
    padding: 20px;
}

.sampleCodes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sampleCodeItemContainer {
    height: 200px;
    min-height: 0;

}

.select {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.select:hover {
    background-color: var(--secondaryHover);
}

.cancel {
    background-color: var(--primary);
    color: var(--offwhite);
    border: 1px solid var(--offwhite);
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.cancel:hover {
    background-color: var(--offwhite);
    color: var(--primary);
}

.buttonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;

}

.selectMask {
    height:200px;
    width:400px;
    position: absolute;
    z-index: 1000;
    cursor: pointer;

}
.selectedMask {
    border: 3px solid var(--secondary);
}