.mask {
    /* background-color: none; */
    width: 100vw;
    height: 100vh;
    top:0px;
    left:0px;
    position: absolute;
    z-index: 1000;
    
}

.menu{
    position: absolute;
    z-index: 1001;
    background-color: var(--offwhite);
    color: var(--primary)
}

.dropdownButton {
    display: flex;
    width: 160px;
    height: 25px;
    background-color: var(--darkPrimary1);
    color: var(--offwhite);
    border: 1px solid rgba(196, 194, 231, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 160px;
    background-color: var(--offwhite);
    text-align: left;
}