.header {
    margin: 0;
    padding: 0 10px;
    height: 60px;
    text-align: left;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    border-bottom: 1px solid rgba(196, 194, 231, 0.3);

}

.headerText {
    font-size: 20px;
    margin-left: 16px;
    font-weight: 800;
}

.headerTextCheat {
    display: inline;
    color: var(--offwhite)
}

.headerTextCode {
    display: inline;
    color: var(--lightPrimary3)
}