.flex {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(196, 194, 231, 0.3);
    background-color: var(--darkPrimary1);
    height: calc(100vh - 60px);
}

.navButton {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButton:hover {
    background-color: var(--lightPrimary3);
    cursor: pointer;
}
