@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --primary: #1A183D;
  --darkPrimary1: #0E0B33;
  --offwhite: #E2E1F3;
  --lightPrimary5: #A6A3DB;
  --lightPrimary4: #C4C2E7;
  --lightPrimary3: #8985CF;
  --lightPrimary2: #4E48B7;
  --lightPrimary1: #27245C;
  --secondary: #FAB056;
  --secondaryHover: #FAB766;
  --white: #FFFFFF;
  --black: #000000;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
